<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <title>Reactor Test</title>
    <div class="jumbotron">
        <h1>Reactor Test</h1>
        <p class="lead">영화 조회</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/servlet" id="btnServlet" onclick="clickBtn(this.id)">Servlet</a>
            <a class="btn btn-lg btn-info" href="/reactive" onclick="clickBtn(this.id)">Reactive</a>
        </p>
    </div>
</div>
<script th:inline="javascript">
    function clickBtn(id) {
        document.getElementById(id).classList.add("disabled")
        let spinner = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
            "  Loading..."
        document.getElementById(id).innerHTML = spinner
    }
</script>
</body>
</html>
