<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div class="row">
        <div id="title">
            <h1><a class="text-decoration-none mr-3" href="/">⬅️</a>Reactive Stack</h1>
        </div>
        <table class="table table-striped" id="allMovies">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Score</th>
            </tr>
            </thead>

            <tbody>
            <tr class="result" data-th-each="movie : ${movies}">
                <td>[[${movie.name}]]</td>
                <td>[[${movie.score}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
