<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/jumbotron-narrow.css}" rel="stylesheet">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>

<table>
    <thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movieStat.count}">1</td>
        <td th:text="${movie.name}"></td>
        <td style="text-align: right" th:text="${#numbers.formatCurrency(movie.score)}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
